<% date_selected = date_selection?(params["date_from"], params["date_to"]) %>
<% class_in = date_selected ? "in" : "" %>
<% class_glyphicon = date_selected ? "glyphicon-chevron-down" : "glyphicon-chevron-right" %>

<div class="panel panel-default">
  <div class="clearfix panel-heading" data-toggle="collapse" data-target="#dates" aria-label="Show Date Filters" role="Option">
    <h3 class="pull-left panel-title">Date</h3>
    <span class="pull-right glyphicon <%= class_glyphicon %>" aria-hidden="true"></span>
  </div>
  <div class="panel-body collapse <%= class_in %>" id="dates">
    <%= form_tag(search_path, :method => "get") do %>
      <!-- date from -->
      <div class="form-group form-inline">
        <% dfrom = params["date_from"] ? params["date_from"] : [] %>

        <div class="clearfix">
          <%= label_tag "date_from", "Date From" %>

          <% if date_selection?(params["date_from"], params["date_to"]) %>
            <%= link_to search_path(clear_dates_params), class: "pull-right btn btn-default btn-xs", role: "button", aria_label: "Clear Date Filter", title: "Clear Date Filter" do %>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <% end %>
          <% end %>
        </div>

        <%= text_field_tag "date_from[]", dfrom[0], id: "date_from",
            class: "form-control", placeholder: "1803", maxlength: "4", size: "4", title: "From Year" %>
        <%= text_field_tag "date_from[]", dfrom[1],
            class: "form-control", placeholder: "08", maxlength: "2", size: "2", title: "From Month" %>
        <%= text_field_tag "date_from[]", dfrom[2],
            class: "form-control", placeholder: "30", maxlength: "2", size: "2", title: "From Day" %>
      </div>

      <!-- date to -->
      <div class="form-group form-inline">
        <% dto = params["date_to"] ? params["date_to"] : [] %>
        <%= label_tag "date_to", "Date To" %><br/>
        <%= text_field_tag "date_to[]", dto[0], id: "date_to",
            class: "form-control", placeholder: "1806", maxlength: "4", size: "4", title: "To Year" %>
        <%= text_field_tag "date_to[]", dto[1],
            class: "form-control", placeholder: "09", maxlength: "2", size: "2", title: "To Month" %>
        <%= text_field_tag "date_to[]", dto[2],
            class: "form-control", placeholder: "01", maxlength: "2", size: "2", title: "To Day" %>
      </div>
      <%= render partial: "search_partials/facet_hidden_fields" %>
      <%= hidden_field_tag(:qfield, "text") %>
      <%= hidden_field_tag(:qtext, params["qtext"]) %>

      <div class="clearfix buffer-bottom-sm">
        <%= submit_tag("Filter", :class => "btn btn-primary buffer-right-sm") %>

        <button type="button" class="btn btn-link glyphicon glyphicon-question-sign pull-right"
          data-toggle="collapse" data-target="#date_help"
          aria-expanded="false" aria-controls="date_help">
        </button>
      </div>
    <% end %>

    <div id="date_help" class="collapse">
      <table class="table table-condensed table-striped">
        <thead>
          <th>Entering in only one field</th>
          <th class="text-right">Searches</th>
        </thead>
        <tbody>
          <tr>
            <td>Year,&nbsp;Month, &amp;&nbsp;Day</td>
            <td class="text-right">Single day</td>
          </tr>
          <tr>
            <td>Year &amp; Month</td>
            <td class="text-right">Whole month</td>
          </tr>
          <tr>
            <td>Year</td>
            <td class="text-right">Whole year</td>
          </tr>
          <tr>
            <td>Month &amp; Day</td>
            <td class="text-right">1803-#-# to 1806-#-#</td>
          </tr>
          <tr>
            <td>Month</td>
            <td class="text-right">1803-#-1 to 1806-#-31</td>
          </tr>
          <tr>
            <td>Day</td>
            <td class="text-right">1803-01-# to 1806-12-#</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
