<div class="clearfix">
  <!-- text search -->
  <% if !params["qtext"].blank? %>
    <div class="pull-left form-inline buffer-bottom buffer-right-sm">
      <div class="input-group">
        <div class="input-group-addon" title="Search Text">
          Search : <%= params["qtext"] %>
        </div>
        <div class="input-group-btn" aria-label="Clear Search Text" title="Clear Search Text">
          <%= link_to clear_search, class: "btn btn-default btn-sm", role: "button" do %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <!-- date search -->
  <% if date_selection?(params["date_from"], params["date_to"]) %>
    <div class="pull-left form-inline buffer-bottom buffer-right-sm">
      <div class="input-group">
        <div class="input-group-addon" title="Date Selection">
          Date : <%= params["date_from"].join("-") %> to <%= params["date_to"].join("-") %>
        </div>
        <div class="input-group-btn" aria-label="Clear Date Filter" title="Clear Date Filter">
          <%= link_to search_path(clear_dates_params), class: "btn btn-default btn-sm", role: "button" do %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <!-- selected facets -->
  <% if @facets %>
    <% Facets.facet_info.each do |facet_name, info| %>
      <% if !params[facet_name].blank? && info["display"] %>
        <div class="pull-left form-inline buffer-bottom buffer-right-sm">
          <div class="input-group">
            <div class="input-group-addon" title="<%= info['label'] %> Filter">
              <%= info["label"] %> : <%= params[facet_name] %>
            </div>
            <div class="input-group-btn" aria-label="Clear <%= info['label'] %> Filter" title="Clear <%= info['label'] %> Filter">
              <%= link_to search_path(remove_facet(facet_name)), class: "btn btn-default btn-sm", role: "button" do %>
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
