<div class="metadata">
  <ul>
    <%= metadata("Title", "title", @doc["title"], false) %>
    <%= metadata("Date", "dateDisplay", @doc["dateDisplay"]) %>
    <%= metadata("Author(s)", "creators", @doc["creators"]) %>
    <%= metadata("Recipient(s)", "recipients", @doc["recipients"]) %>
    <%= metadata("Format", "format", @doc["format"]) %>
    <%= metadata("Category", "category", @doc["category"]) %>
    <%= metadata("Subcategory", "subCategory", @doc["subCategory"]) %>
    <%= metadata("Works", "works", @doc["works"]) %>
    <%= metadata("Place(s)", "places", @doc["places"]) %>
    <li><strong>TEI XML: </strong><a href="<%= @doc['uriXML'] %>"><%= @doc["id"] %>.xml</a>
  </ul>
</div>
 
<!-- TEXT AND IMAGES -->
<%= @res.mb_chars.html_safe if @res %>
