<%
  @title = "About"
  @description = ""
%>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>About the Project</h2>

    <ul>
      <li><%= link_to "Overview", item_path("lc.about.overview") %></li>
      <li><%= link_to "Online Editorial Procedures", item_path("lc.about.onlineeditorialprocedures") %> </li>
      <li><%= link_to "Technical Summary", item_path("lc.about.technicalsummary") %></li>
      <li><%= link_to "Advisory Board", item_path("lc.about.advisoryboard") %></li>
      <li><%= link_to "Project Team", item_path("lc.about.projectteam") %> </li>
      <li><%= link_to "Sponsors", item_path("lc.about.sponsors") %></li>
      <li><%= link_to "Frequently Asked Questions", item_path("lc.about.faq") %></li>
      <li><%= link_to "Links", item_path("lc.about.links") %></li>
      <li><%= link_to "Privacy Policy and Copyright Information", item_path("lc.about.privacy") %></li>
    </ul>
  </div>
</div>
