<%
  @title = "Calendar of Entries"
  @description = ""
%>
<%= javascript_include_tag "bootstrap-year-calendar.min", media: "all" %>
<%= javascript_include_tag "calendar/dates", media: "all" %>
<%= javascript_include_tag "calendar/calendar", media: "all" %>
<script>
  maxDate = new Date("<%= ENTRY_DATE_LAST.join("-") %>");

  // Augment by one day, as calendar excludes the day set as this variable
  maxDate.setDate(maxDate.getDate() + 1);

  minDate = new Date("<%= ENTRY_DATE_FIRST.join("-") %>");
  startYear = "<%= ENTRY_DATE_FIRST[0] %>";
</script>

<%= stylesheet_link_tag "calendar", media: "all" %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h4>Browse Journals by Date</h4><br/>

    <!-- From http://www.bootstrap-year-calendar.com/#Examples/API -->

    <div id="calendar"/>
  </div>
</div>
