<%
  @title = "Journal Images"
  @description = ""
%>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Images &amp; Maps</h2>

    <ul class="nav nav-tabs">
      <li role="presentation" class="active">
        <%= link_to "Journals", images_path %>
      </li>
      <li role="presentation">
        <%= link_to "Maps", images_maps_path %>
      </li>
      <li role="presentation">
        <%= link_to "People & Places", images_people_places_path %>
      </li>
      <li role="presentation">
        <%= link_to "Plants & Animals", images_plants_animals_path %>
      </li>
    </ul>

    <br/>
    <p class="gallery_note">Note: These images are courtesy of the American Philosophical Society library. Permission to reproduce is required.</p>

    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1803-11-20.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1803-11-20.01.jpg" alt="Sand Bar" title="Sand Bar" />
      <% end %>
      
      <em>Sand Bar, <%= link_to "November 20, 1803", item_path("lc.img.1803-11-20.01") %>,</em> Eastern Journal
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1803-11-20.02") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1803-11-20.02.jpg" alt="Island" title="Island" />
      <% end %>
      <em>Island, <%= link_to "November 20, 1803", item_path("lc.img.1803-11-20.02") %>,</em> Eastern Journal
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1803-11-21.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1803-11-21.01.jpg" alt="Island" title="Island" />
      <% end %>
      <em>Island, <%= link_to "November 21, 1803", item_path("lc.img.1803-11-21.01") %>,</em> Eastern Journal
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1804-06-05.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1804-06-05.01.jpg" alt="Manitou" title="Manitou" />
      <% end %>
      <em>Manitou on a Rock, <%= link_to "June 5, 1804", item_path("lc.img.1804-06-05.01") %>,</em> Codex A, p. 34
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1804-1805.winter.part1.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1804-1805.winter.part1.01.jpg" alt="Mississippi River" title="Mississippi River" />
      <% end %>
      <em>Mississippi River and Tributaries in Present Minnesota, <%= link_to "undated (winter 1804–5)", item_path("lc.img.1804-1805.winter.part1.01") %>,</em> Codex C, p. 155
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1804-1805.winter.part3.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1804-1805.winter.part3.01.jpg" alt="&quot;Convolvalist&quot; leaf" title="&quot;Convolvalist&quot; leaf" />
      <% end %>
      Large "convolvalist" leaf (<em>Convolvulus sepium L.,</em> hedge bindweed), <%= link_to "July 17, 1804", item_path("lc.img.1804-1805.winter.part3.01") %>, Codex R, p. 37
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-01-28.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-01-28.01.jpg" alt="War Hatchet" title="War Hatchet" />
      <% end %>
      <em>War Hatchet, <%= link_to "January 28, 1805", item_path("lc.img.1805-01-28.01") %>,</em> Codex C, p. 158
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-02-05.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-02-05.01.jpg" alt="Battle Ax" title="Battle Ax" />
      <% end %>
      <em>Battle Ax, <%= link_to "February 5, 1805", item_path("lc.img.1805-02-05.01") %>,</em> Codex C, p. 165
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-07-04.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-07-04.01.jpg" alt="Falls and Portage" title="Falls and Portage" />
      <% end %>
      <em>Falls and Portage of the Missouri River, ca. <%= link_to "July 4, 1805", item_path("lc.img.1805-07-04.01") %>,</em> Codex E, pp. 132–33
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-08-13.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-08-13.01.jpg" alt="Smoking-pipe" title="Smoking-pipe" />
      <% end %>
      <em>Shoshone Smoking-pipe, <%= link_to "August 13, 1805", item_path("lc.img.1805-08-13.01") %>,</em> Codex F, p. 99
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-08-21.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-08-21.01.jpg" alt="Fish Weir" title="Fish Weir" />
      <% end %>
      <em>Shoshone Fish Weir, <%= link_to "August 21, 1805", item_path("lc.img.1805-08-21.01") %>,</em> Codex F, p. 147
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-10-22.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-10-22.01.jpg" alt="Great Falls" title="Great Falls" />
      <% end %>
      <em>Great (Celilo) Falls of the Columbia River, Washington  and Oregon, <%= link_to "October 22–23, 1805", item_path("lc.img.1805-10-22.01") %>,</em> Codex H, p.1
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-10-24.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-10-24.01.jpg" alt="The Dalles" title="The Dalles" />
      <% end %>
      <em>Long and Short Narrows (The Dalles) of the Columbia River, Washington and Oregon, <%= link_to "October 22–28, 1805", item_path("lc.img.1805-10-24.01") %>,</em> Codex H, pp. 2–3
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-10-24.03") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-10-24.03.jpg" alt="Hut Door" title="Hut Door" />
      <% end %>
      <em>Shape of a Hut Door,</em> <%= link_to "October 24, 1805", item_path("lc.img.1805-10-24.03") %>, Codex H, p. 63
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-11-01.02") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-11-01.02.jpg" alt="Cascades" title="Cascades" />
      <% end %>
      <em>Great Rapids (Cascades) of the Columbia River, Washington and Oregon, <%= link_to "October 30–November 2, 1805", item_path("lc.img.1805-11-01.02") %>,</em> Codex H, p. 4
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-11-16.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-11-16.01.jpg" alt="Mouth of the Columbia" title="Mouth of the Columbia" />
      <% end %>
      <em>Mouth of the Columbia River, Washington and Oregon, ca. <%= link_to "November 16–25, 1805", item_path("lc.img.1805-11-16.01") %>,</em> Codex I, p. 152
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-12-01.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-12-01.01.jpg" alt="Point Adams" title="Point Adams" />
      <% end %>
      <em>Point Adams, Oregon, ca. <%= link_to "December 1, 1805", item_path("lc.img.1805-12-01.01") %>,</em> Codex Ia, p.7
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-12-29.02") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-12-29.02.jpg" alt="Conic Hat" title="Conic Hat" />
      <% end %>
      <em>Conic Hat, <%= link_to "December 29, 1805", item_path("lc.img.1805-12-29.02") %>,</em> Codex I, p. 80
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-1806.winter.part1.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-1806.winter.part1.01.jpg" alt="Tongue Point" title="Tongue Point" />
      <% end %>
      <em>Tongue Point, Oregon, <%= link_to "Winter 1805–6", item_path("lc.img.1805-1806.winter.part1.01") %>,</em> Codex I, p. 11
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-01-01.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-01-01.01.jpg" alt="Two Swords" title="Two Swords" />
      <% end %>
      <em>Two Swords, a Bludgeon, and a Paddle, <%= link_to "January 1, 1806", item_path("lc.img.1806-01-01.01") %>,</em> Codex J, p. 1
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-01-06.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-01-06.01.jpg" alt="Whale Site" title="Whale Site" />
      <% end %>
      <em>Route to the Whale Site, ca. <%= link_to "January 6–10, 1806", item_path("lc.img.1806-01-06.01") %>,</em> Clark's First Draft
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-01-07.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-01-07.01.jpg" alt="Skate" title="Skate" />
      <% end %>
      Skate (big skate, <em>Raja binoculata</em>), <%= link_to "January 7, 1806", item_path("lc.img.1806-01-07.01") %>, Clark's First Draft
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-01-15.02") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-01-15.02.jpg" alt="Arrow" title="Arrow" />
      <% end %>
      <em>Arrow, <%= link_to "January 15, 1806", item_path("lc.img.1806-01-15.02") %>,</em> Codex I, p. 119
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-01-16.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-01-16.01.jpg" alt="Bone Fishhook" title="Bone Fishhook" />
      <% end %>
      <em>Bone Fishhook and Line, <%= link_to "January 16, 1806", item_path("lc.img.1806-01-16.01") %>,</em> Codex J, p. 28
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-01-23.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-01-23.01.jpg" alt="Digging Instrument" title="Digging Instrument" />
      <% end %>
      <em>Digging Instrument, <%= link_to "January 23, 1806", item_path("lc.img.1806-01-23.01") %>,</em> Codex I, p. 135
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-01-24.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-01-24.01.jpg" alt="Digging Instrument" title="Digging Instrument" />
      <% end %>
      <em>Digging Instrument, <%= link_to "January 24, 1806", item_path("lc.img.1806-01-24.01") %>,</em> Codex J, p. 40
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-01-29.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-01-29.01.jpg" alt="Conic Hat" title="Conic Hat" />
      <% end %>
      <em>Conic Hat and Double-edged Knife, <%= link_to "January 29, 1806", item_path("lc.img.1806-01-29.01") %>,</em> Codex I, p. 144
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-02-01.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-02-01.01.jpg" alt="Paddle, Canoes" title="Paddle, Canoes" />
      <% end %>
      <em>Paddle, Small Canoe, Canoe with High Bow, and Most Common Canoe, <%= link_to "February 1, 1806", item_path("lc.img.1806-02-01.01") %>,</em> Codex J, p. 52
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-02-01.02") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-02-01.02.jpg" alt="Canoe with Images" title="Canoe with Images" />
      <% end %>
      <em>Canoe with Carved Images, <%= link_to "February 1, 1806", item_path("lc.img.1806-02-01.02") %>,</em> Codex J, p. 53
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-02-09.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-02-09.01.jpg" alt="Fir Leaf" title="Fir Leaf" />
      <% end %>
      Fir Leaf (Douglas fir, <em>Pseudotsuga taxifolia</em>), <%= link_to "February 9, 1806", item_path("lc.img.1806-02-09.01") %>, Codex J, p. 65
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-02-10.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-02-10.01.jpg" alt="Maple Leaf" title="Maple Leaf" />
      <% end %>
      Maple Leaf (vine maple, <em>Acer circinatum</em>), <%= link_to "February 10, 1806", item_path("lc.img.1806-02-10.01") %>, Codex J, p. 66
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-02-13.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-02-13.01.jpg" alt="Fern Leaf" title="Fern Leaf" />
      <% end %>
      Fern Leaf (Christmas fern, <em>Polystichum munitum</em>), <%= link_to "February 13, 1806", item_path("lc.img.1806-02-13.01") %>, Codex J, p. 71
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-02-17.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-02-17.01.jpg" alt="California condor" title="California condor" />
      <% end %>
      Head of a Vulture (California condor, <em>Gymnogyps califorianus</em>), <%= link_to "February 17, 1806", item_path("lc.img.1806-02-17.01") %>, Codex J, p. 80
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-02-18.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-02-18.01.jpg" alt="Pine Cone" title="Pine Cone" />
      <% end %>
      Pine Cone (Sitka spruce, <em>Picea sitchensis</em>), <%= link_to "February 18, 1806", item_path("lc.img.1806-02-18.01") %>, Codex J, p. 83
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-02-24.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-02-24.01.jpg" alt="Eulachon" title="Eulachon" />
      <% end %>
      Eulachon (<em>Thaleichthys pacificus</em>), <%= link_to "February 24, 1806", item_path("lc.img.1806-02-24.01") %>, Codex J, pp. 93
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-03-02.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-03-02.01.jpg" alt="Cock of the Plains" title="Cock of the Plains" />
      <% end %>
      Head of Cock of the Plains (sage grouse, <em>Centrocercus urophasianus</em>), <%= link_to "March 2, 1806", item_path("lc.img.1806-03-02.01") %>, Codex J, p. 107
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-03-07.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-03-07.01.jpg" alt="White Gull" title="White Gull" />
      <% end %>
      Head of a White Gull (northern fulmar, <em>Fulmarus glacialis</em>), <%= link_to "March 7, 1806", item_path("lc.img.1806-03-07.01") %>, Codex J, p. 115
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-03-15.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-03-15.01.jpg" alt="Brant Head" title="Brant Head" />
      <% end %>
      Head of a Brant (greater white-fronted goose, <em>Anser albifrons</em>), <%= link_to "March 15, 1806", item_path("lc.img.1806-03-15.01") %>, Codex J, p. 131
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-03-16.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-03-16.01.jpg" alt="White Salmon Trout" title="White Salmon Trout" />
      <% end %>
      White Salmon Trout (coho salmon, <em>Oncorhynchus kisutch</em>), <%= link_to "March 16, 1806", item_path("lc.img.1806-03-16.01") %>, Codex J, p. 133
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-03-29.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-03-29.01.jpg" alt="Iron Scimitar" title="Iron Scimitar" />
      <% end %>
      <em>Iron Scimitar, <%= link_to "March 29, 1806", item_path("lc.img.1806-03-29.01") %>,</em> Codex K, p. 14
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-04-03.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-04-03.01.jpg" alt="Confluence" title="Confluence" />
      <% end %>
      <em>Confluence of Willamette and Columbia Rivers and Environs, <%= link_to "April 3, 1806", item_path("lc.img.1806-04-03.01") %>,</em> Codex K, pp. 28–29
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-04-06.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-04-06.01.jpg" alt="Canoe" title="Canoe" />
      <% end %>
      <em>Two Views of a Canoe, <%= link_to "April 6, 1806", item_path("lc.img.1806-04-06.01") %>,</em> Codex K, p. 33
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-04-26.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-04-26.01.jpg" alt="Bone Fishhook" title="Bone Fishhook" />
      <% end %>
      <em>Bone Fishhook, <%= link_to "April 26, 1806", item_path("lc.img.1806-04-26.01") %>,</em> Codex K, p. 83
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-05-18.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-05-18.01.jpg" alt="Fish Net" title="Fish Net" />
      <% end %>
      <em>Fish Net, <%= link_to "May 18, 1806", item_path("lc.img.1806-05-18.01") %>,</em> Codex K, p. 139
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-05-31.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-05-31.01.jpg" alt="Snake and Missouri" title="Snake and Missouri" />
      <% end %>
      <em>Snake and Missouri Rivers and their Connections, <%= link_to "May 29–31, 1806", item_path("lc.img.1806-05-31.01") %>,</em> Codex M,pp. 1–2
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-07-11.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-07-11.01.jpg" alt="Lewis's Route" title="Lewis's Route" />
      <% end %>
      <em>Lewis's Route from Traveler's Rest to the Missouri River, ca. <%= link_to "July 3–11, 1806", item_path("lc.img.1806-07-11.01") %>,</em> Codex N, pp. 149–50
    </div>

    <hr/>

    <p class="gallery_note">Note: These images are courtesy of the Missouri Historical Society library. Permission to reproduce is required.</p>

    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1804-1805.winter.part5.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1804-1805.winter.part5.01.jpg" alt="" title=""/>
      <% end %>
      <em>Area about Fort Mandan and North to the Assinboine River, <%= link_to "undated (winter 1804–05)", item_path("lc.img.1804-1805.winter.part5.01") %>,</em> Voorhis Collection, Missouri Historical Society
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-04-28.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-04-28.01.jpg" alt="" title=""/>
      <% end %>
      <em>Aspect of the Missouri River, <%= link_to "April 28, 1805", item_path("lc.img.1805-04-28.01") %>,</em> Voorhis no. 1
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-05-25.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-05-25.01.jpg" alt="" title=""/>
      <% end %>
      Ibex (bighorn sheep, <em>Ovis canadensis</em>), <%= link_to "May 25, 1805", item_path("lc.img.1805-05-25.01") %>, Voorhis no. 1
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-07-02.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-07-02.01.jpg" alt="" title=""/>
      <% end %>
      <em>Falls and Portage of the Missouri River, ca. <%= link_to "July 2, 1805", item_path("lc.img.1805-07-02.01") %>,</em> Voorhis no. 1
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-07-03.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-07-03.01.jpg" alt="" title=""/>
      <% end %>
      <em>Great Falls of the Missouri River, ca. <%= link_to "July 3, 1805", item_path("lc.img.1805-07-03.01") %>,</em> Voorhis no. 1
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-07-03.02") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-07-03.02.jpg" alt="" title=""/>
      <% end %>
      <em>"Handsome Falls" (present Rainbow Falls) of the Missouri River, ca. <%= link_to "July 3, 1805", item_path("lc.img.1805-07-03.02") %>,</em> Voorhis no. 1
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-07-03.03") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-07-03.03.jpg" alt="" title=""/>
      <% end %>
      <em>"Upper Falls" (present Black Eagle Falls) of the Missouri River, ca. <%= link_to "July 3, 1805", item_path("lc.img.1805-07-03.03") %>,</em> Voorhis no. 1
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-09-11.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-09-11.01.jpg" alt="" title=""/>
      <% end %>
      <em>Route from Traveler's Rest toward Lolo Trail, Montana, <%= link_to "September 11–12, 1805", item_path("lc.img.1805-09-11.01") %>,</em> Elkskin-bound Journal
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-09-16.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-09-16.01.jpg" alt="" title=""/>
      <% end %>
      <em>On the Lolo Trail, Idaho, <%= link_to "September 13–16, 1805", item_path("lc.img.1805-09-16.01") %>,</em> Elkskin-bound Journal
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-09-18.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-09-18.01.jpg" alt="" title=""/>
      <% end %>
      <em>On the Lolo Trail, Idaho, <%= link_to "September 16–18, 1805", item_path("lc.img.1805-09-18.01") %>,</em> Elkskin-bound Journal
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-09-20.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-09-20.01.jpg" alt="" title=""/>
      <% end %>
      <em>On the Lolo Trail, Idaho, <%= link_to "September 18–20, 1805", item_path("lc.img.1805-09-20.01") %>,</em> Elkskin-bound Journal
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-09-20.02") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-09-20.02.jpg" alt="" title=""/>
      <% end %>
      <em>On the Lolo Trail to Canoe camp at the Junction of the North Fork Clearwater and Clearwater Rivers, Idaho, <%= link_to "September 20–October 7, 1805", item_path("lc.img.1805-09-20.02") %>,</em> Elkskin-bound Journal
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-10-10.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-10-10.01.jpg" alt="" title=""/>
      <% end %>
      <em>Confluence of the Clearwater and Snake Rivers, Idaho-Washington Border, ca. <%= link_to "October 10, 1805", item_path("lc.img.1805-10-10.01") %>,</em> Elkskin-bound Juornal
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-10-13.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-10-13.01.jpg" alt="" title=""/>
      <% end %>
      <em>Columbia River and Affluents, Washington, ca. <%= link_to "October 13, 1805", item_path("lc.img.1805-10-13.01") %>,</em> Elkskin-bound Journal
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-10-14.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-10-14.01.jpg" alt="" title=""/>
      <% end %>
      <em>Indian Locales on Columbia River and Affluents, ca. <%= link_to "October 14, 1805", item_path("lc.img.1805-10-14.01") %>,</em> Elkskin-bound Journal
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-10-15.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-10-15.01.jpg" alt="" title=""/>
      <% end %>
      <em>Indian Groups of the Columbia River Basin, ca. <%= link_to "October 15, 1805", item_path("lc.img.1805-10-15.01") %>,</em> Elkskin-bound Journal
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-10-18.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-10-18.01.jpg" alt="" title=""/>
      <% end %>
      <em>Indian Groups on Columbia River and Affluents, ca. <%= link_to "October 18, 1805", item_path("lc.img.1805-10-18.01") %>,</em> Elkskin-bound Journal
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-10-18.02") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-10-18.02.jpg" alt="" title=""/>
      <% end %>
      <em>Columbia River near Mouth of Walla Walla River, Washington, <%= link_to "October 16–18, 1805", item_path("lc.img.1805-10-18.02") %>,</em> Elkskin-bound Journal
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-10-18.04") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-10-18.04.jpg" alt="" title=""/>
      <% end %>
      <em>Confluence of Snake and Columbia Rivers, Washington, ca. <%= link_to "October 18, 1805", item_path("lc.img.1805-10-18.04") %>,</em> Voorhis No. 4
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-10-19.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-10-19.01.jpg" alt="" title=""/>
      <% end %>
      <em>Columbia River near Mouth of Umatilla River (not shown), Washington and Oregon, ca. <%= link_to "October 19, 1805", item_path("lc.img.1805-10-19.01") %>,</em> Elkskin-bound Journal
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-10-20.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-10-20.01.jpg" alt="" title=""/>
      <% end %>
      <em>Columbia River, Area between Mouths of Umatillaand John Day Rivers (not shown), Washington and Oregon, ca. <%= link_to "October 20, 1805", item_path("lc.img.1805-10-20.01") %>,</em> Elkskin-bound Journal
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-10-20.02") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-10-20.02.jpg" alt="" title=""/>
      <% end %>
      <em>Columbia River near Mouth of John Day River, Washington and Oregon, ca. <%= link_to "October 20, 1805", item_path("lc.img.1805-10-20.02") %>,</em> Elkskin-bound Journal
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-10-21.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-10-21.01.jpg" alt="" title=""/>
      <% end %>
      <em>Columbia River near Mouth Deschutes River, Washington and Oregon, ca. <%= link_to "October 21, 1805", item_path("lc.img.1805-10-21.01") %>,</em> Elkskin-bound Journal
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-10-22.02") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-10-22.02.jpg" alt="" title=""/>
      <% end %>
      <em>Great (Celilo) Falls of the Columbia River, Washington and Oregon, <%= link_to "October 22–23, 1805", item_path("lc.img.1805-10-22.02") %>,</em> Voorhis No. 4
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-10-24.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-10-24.01.jpg" alt="" title=""/>
      <% end %>
      <em>Long and Short Narrows (The Dalles) of the Columbia River, Washington and Oregon, <%= link_to "October 22–28, 1805", item_path("lc.img.1805-10-24.01") %>,</em> Voorhis No. 4
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-11-01.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-11-01.01.jpg" alt="" title=""/>
      <% end %>
      <em>Shape of a Hut Door, <%= link_to "November 1, 1805", item_path("lc.img.1805-11-01.01") %>,</em> Elkskin-bound Journal
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-11-01.03") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-11-01.03.jpg" alt="" title=""/>
      <% end %>
      <em>Great Rapids (Cascades) of the Columbia River, Washington and Oregon, <%= link_to "October 30–November 2, 1805", item_path("lc.img.1805-11-01.03") %>,</em> Voohis No. 4
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-11-18.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-11-18.01.jpg" alt="" title=""/>
      <% end %>
      Flounder (starry flounder, <em>Platichthys stellatus</em>), <%= link_to "November 18, 1805", item_path("lc.img.1805-11-18.01") %>, Elkskin-bound Journal
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-11-18.02") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-11-18.02.jpg" alt="" title=""/>
      <% end %>
      <em>Area about Cape Disappointment, ca. <%= link_to "November 18, 1805", item_path("lc.img.1805-11-18.02") %>,</em> Elkskin-bound Journal
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-12-07.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-12-07.01.jpg" alt="" title=""/>
      <% end %>
      <em>Plan of Fort Clatsop Drawn over Area of Youngs Bay, ca. <%= link_to "December 7, 1805", item_path("lc.img.1805-12-07.01") %>,</em> Elkskin-bound Journal
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-12-07.02") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-12-07.02.jpg" alt="" title=""/>
      <% end %>
      <em>Plan of Fort Clatsop, ca. <%= link_to "December 7, 1805", item_path("lc.img.1805-12-07.02") %>,</em> Elkskin-bound Journal
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-12-29.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-12-29.01.jpg" alt="" title=""/>
      <% end %>
      <em>Conic Hat, <%= link_to "December 29, 1805", item_path("lc.img.1805-12-29.01") %>,</em> Elkskin-bound Journal
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-01-30.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-01-30.01.jpg" alt="" title=""/>
      <% end %>
      <em>Method of Head-flattening and Adults with Skull Deformation, ca. <%= link_to "January 30, 1806", item_path("lc.img.1806-01-30.01") %>,</em> Voorhis No. 2
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-02-01.03") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-02-01.03.jpg" alt="" title=""/>
      <% end %>
      <em>Paddle, Small Canoe, and Sharp-pointed Paddle, <%= link_to "February 1, 1806", item_path("lc.img.1806-02-01.03") %>,</em> Voorhis No. 2
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-02-01.04") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-02-01.04.jpg" alt="" title=""/>
      <% end %>
      <em>Another Small Canoe, Canoe with High Bow, and Most Common Canoe, <%= link_to "February 1, 1806", item_path("lc.img.1806-02-01.04") %>,</em> Voorhis No. 2
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-02-01.05") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-02-01.05.jpg" alt="" title=""/>
      <% end %>
      <em>Canoe with Carved Images, <%= link_to "February 1, 1806", item_path("lc.img.1806-02-01.05") %>,</em> No. 2
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-02-08.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-02-08.01.jpg" alt="" title=""/>
      <% end %>
      Stalk and Leaves of the Shallon (salal, <em>Gaultheria shallon</em>), <%= link_to "February 8, 1806", item_path("lc.img.1806-02-08.01") %>, Voorhis No. 2
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-02-09.02") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-02-09.02.jpg" alt="" title=""/>
      <% end %>
      Fir Cone (Sitka spruce, <em>Picea sitchensis</em>), <%= link_to "February 9, 1806", item_path("lc.img.1806-02-09.02") %>, Voorhis No. 2
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-02-10.02") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-02-10.02.jpg" alt="" title=""/>
      <% end %>
      Maple Leaf (vine maple, <em>Acer Circinatum</em>), <%= link_to "February 10, 1806", item_path("lc.img.1806-02-10.02") %>, Voorhis No. 2
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-02-12.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-02-12.01.jpg" alt="" title=""/>
      <% end %>
      Evergreen Shrub Leaf (Oregon grape, <em>Berberis aquifolium</em>), <%= link_to "February 12, 1806", item_path("lc.img.1806-02-12.01") %>, Voorhis No. 2
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-02-12.02") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-02-12.02.jpg" alt="" title=""/>
      <% end %>
      Evergreen Shrub Leaf (dull Oregon grape, <em>Berberis nervosa</em>), <%= link_to "February 12, 1806", item_path("lc.img.1806-02-12.02") %>, Voorhis No. 2
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-02-13.02") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-02-13.02.jpg" alt="" title=""/>
      <% end %>
      Evergreen Shrub Leaf (dull Oregon grape, Fern Leaf (Christmas fern, <em>Polystichum munitum</em>), <%= link_to "February 13, 1806", item_path("lc.img.1806-02-13.02") %>, Voorhis No. 2
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-02-16.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-02-16.01.jpg" alt="" title=""/>
      <% end %>
      Head of a Vulture (California condor, <em>Gymnogyps californianus</em>), <%= link_to "February 16, 1806", item_path("lc.img.1806-02-16.01") %>, Voorhis No. 2.
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-02-25.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-02-25.01.jpg" alt="" title=""/>
      <% end %>
      Eulachon (<em>Thaleichthys pacificus</em>), <%= link_to "February 25, 1806", item_path("lc.img.1806-02-25.01") %>, Voorhis No. 2
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-03-02.02") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-03-02.02.jpg" alt="" title=""/>
      <% end %>
      Cock of the Plains (sage grouse, <em>Centrocercus urophasianus</em>), <%= link_to "March 2, 1806", item_path("lc.img.1806-03-02.02") %>, Voorhis No. 2
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-03-06.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-03-06.01.jpg" alt="" title=""/>
      <% end %>
      Head of a White Gull (northern fulmar, <em>Fulmarus glacialis</em>), <%= link_to "March 6, 1806", item_path("lc.img.1806-03-06.01") %>, Voorhis No. 2
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-03-15.02") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-03-15.02.jpg" alt="" title=""/>
      <% end %>
      Head of a Brant (greater white-fronted goose, <em>Anser albifrons</em>), <%= link_to "March 15, 1806", item_path("lc.img.1806-03-15.02") %>, Voorhis No. 2
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-03-16.02") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-03-16.02.jpg" alt="" title=""/>
      <% end %>
      White Salmon Trout (coho salmon, <em>Oncorhynchus kisutch</em>), <%= link_to "March 16, 1806", item_path("lc.img.1806-03-16.02") %>, Voorhis No. 2
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-03-30.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-03-30.01.jpg" alt="" title=""/>
      <% end %>
      <em>Iron Scimitar, <%= link_to "March 30, 1806", item_path("lc.img.1806-03-30.01") %>,</em> Voorhis No. 2
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-04-03.02") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-04-03.02.jpg" alt="" title=""/>
      <% end %>
      <em>Plan of Chinookan House, <%= link_to "April 3, 1806", item_path("lc.img.1806-04-03.02") %>,</em> Voorhis No. 2
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-04-03.03") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-04-03.03.jpg" alt="" title=""/>
      <% end %>
      <em>Confluence of Willamette and Columbian Rivers and Environs, <%= link_to "April 3, 1806", item_path("lc.img.1806-04-03.03") %>,</em> Voorhis No. 2
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-04-04.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-04-04.01.jpg" alt="" title=""/>
      <% end %>
      <em>Columbian, Missouri, and Yellowstone Rivers and their Connections, ca. <%= link_to "April 4, 1806", item_path("lc.img.1806-04-04.01") %>,</em> Voorhis No. 3
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-04-18.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-04-18.01.jpg" alt="" title=""/>
      <% end %>
      <em>Game Bone, <%= link_to "April 18, 1806", item_path("lc.img.1806-04-18.01") %>,</em> First Draft Voorhis Fragment
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-04-20.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-04-20.01.jpg" alt="" title=""/>
      <% end %>
      <em>Confluence of Snake and Columbia Rivers and Environs, ca. <%= link_to "April 18-20, 1806", item_path("lc.img.1806-04-20.01") %>,</em>Voorhis No. 3
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-04-26.02") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-04-26.02.jpg" alt="" title=""/>
      <% end %>
      <em>Bone Fishhook, <%= link_to "April 26, 1806", item_path("lc.img.1806-04-26.02") %>,</em> Voorhis No. 3
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-04-29.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-04-29.01.jpg" alt="" title=""/>
      <% end %>
      <em>Fish Weir, <%= link_to "April 29, 1806", item_path("lc.img.1806-04-29.01") %>,</em> Voorhis No. 3
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-05-11.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-05-11.01.jpg" alt="" title=""/>
      <% end %>
      <em>Fish Net, <%= link_to "May 11, 1806", item_path("lc.img.1806-05-11.01") %>,</em> Voorhis No. 3
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-07-18.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-07-18.01.jpg" alt="" title=""/>
      <% end %>
      <em>Yellowstone River, Sweetgrass-Stillwater Counties, Montana, <%= link_to "July 17–18, 1806", item_path("lc.img.1806-07-18.01") %>,</em> Vorhis First Draft
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-07-18.02") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-07-18.02.jpg" alt="" title=""/>
      <% end %>
      <em>Islands on the Yellowstone River, Stillwater County, Montana, <%= link_to "July 18, 1806", item_path("lc.img.1806-07-18.02") %>,</em> Voorhis First Draft
    </div>

    <hr/>

    <p class="gallery_note">Note: These images are courtesy of the Beinecke Library, Yale University. Permission to reproduce is required.</p>

    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1803-11-15.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1803-11-15.01.jpg" alt="Ohio, Mississippi Rivers" title="Ohio, Mississippi Rivers"/>
      <% end %>
      <em>Confluence of Ohio and Mississippi Rivers, ca. <%= link_to "November 15, 1803", item_path("lc.img.1803-11-15.01") %>,</em> Field Notes, document 3
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1803-12-29.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1803-12-29.01.jpg" alt="Camp Dubois" title="Camp Dubois"/>
      <% end %>
      <em>Plan of Camp Dubois, ca. <%= link_to "December 29, 1803", item_path("lc.img.1803-12-29.01") %>,</em> Field Notes, reverse of document 1
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1804-01-03.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1804-01-03.01.jpg" alt="" title=""/>
      <% end %>
      <em>Confluence of Missouri and Mississippi Rivers, ca. <%= link_to "January 3, 1804", item_path("lc.img.1804-01-03.01") %>,</em> Field Notes, reverse of document 4
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1804-01-21.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1804-01-21.01.jpg" alt="" title=""/>
      <% end %>
      <em>Sketches of the Keelboat, ca. <%= link_to "January 21, 1804", item_path("lc.img.1804-01-21.01") %>,</em> Field Notes, reverse of document 7
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1804-04-12.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1804-04-12.01.jpg" alt="" title=""/>
      <% end %>
      <em>Sketch of the White Pirogue, ca. <%= link_to "April 12, 1804", item_path("lc.img.1804-04-12.01") %>,</em> Field Notes, reverse of document 10
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1804-06-01.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1804-06-01.01.jpg" alt="" title=""/>
      <% end %>
      <em>Missouri River near Mouth of Osage River and East, ca. <%= link_to "June 1, 1804", item_path("lc.img.1804-06-01.01") %>,</em> Field Notes, reverse of document 17
    </div>
    <!--<div class="image_gallery_image">
      <%# link_to item_path("lc.img.1804-06-01.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1804-06-01.01.jpg" alt="" title=""/>
      <%# end %>
      <em>Missouri River near Mouth of Osage River and East, ca. <%= link_to "June 1, 1804", item_path("lc.img.1804-06-01.01") %>,</em> Field Notes, reverse of document 17
    </div>-->
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1804-06-05.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1804-06-05.01.jpg" alt="Manitou" title="Manitou"/>
      <% end %>
      <em>Manitou on a Rock, <%= link_to "June 5, 1804", item_path("lc.img.1804-06-05.01") %>,</em> Codex A, p. 34
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1804-06-07.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1804-06-07.01.jpg" alt="" title=""/>
      <% end %>
      <em>Manitou, Buffalo, and Indian on a Rock, <%= link_to "June 7, 1804", item_path("lc.img.1804-06-07.01") %>,</em> Field Notes, reverse of document 19
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1804-06-13.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1804-06-13.01.jpg" alt="" title=""/>
      <% end %>
      <em>Missouri River near Mouth of Osage River and West, ca. <%= link_to "June 13, 1804", item_path("lc.img.1804-06-13.01") %>,</em> Field Notes, reverse of document 18
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1804-07-01.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1804-07-01.01.jpg" alt="" title=""/>
      <% end %>
      <em>Missouri River near Mouth of Grand River to Beyond Mouth of Kansas River, ca. <%= link_to "July 1, 1804", item_path("lc.img.1804-07-01.01") %>,</em> Field Notes, document 10
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1804-08-12.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1804-08-12.01.jpg" alt="" title=""/>
      <% end %>
      <em>Profile of a Boy, <%= link_to "August 12, 1804", item_path("lc.img.1804-08-12.01") %>,</em> Field Notes, document 42
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1804-08-19.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1804-08-19.01.jpg" alt="" title=""/>
      <% end %>
      <em>Sketch of a Horse, <%= link_to "August 19, 1804", item_path("lc.img.1804-08-19.01") %>,</em> Field notes, document 43
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1804-09-02.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1804-09-02.01.jpg" alt="" title=""/>
      <% end %>
      <em>Bon Homme Island on the Missouri River, ca. <%= link_to "September 2, 1804", item_path("lc.img.1804-09-02.01") %>,</em> Field Notes, document 51
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1804-09-09.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1804-09-09.01.jpg" alt="" title=""/>
      <% end %>
      <em>Missouri River near present Fort Randall Dam, South Dakota, ca. <%= link_to "September 9, 1804", item_path("lc.img.1804-09-09.01") %>,</em> Field Notes, reverse of document 53
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1804-09-21.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1804-09-21.01.jpg" alt="" title=""/>
      <% end %>
      <em>Big Bend of the Missouri River, ca. <%= link_to "September 21, 1804", item_path("lc.img.1804-09-21.01") %>,</em> Field Notes, document 56
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1804-12-17.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1804-12-17.01.jpg" alt="" title=""/>
      <% end %>
      <em>Country between the Missouri and Red Rivers, ca. <%= link_to "December 17, 1804", item_path("lc.img.1804-12-17.01") %>,</em> Field Notes, reverse of document of 66
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1805-03-29.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1805-03-29.01.jpg" alt="" title=""/>
      <% end %>
      <em>Profile of a Man with Pipe, ca. <%= link_to "March 29, 1805", item_path("lc.img.1805-03-29.01") %>,</em> Field Notes, reverse of document 64
    </div>
  </div>
</div>

