<%
  @title = "Images of Plants & Animals"
  @description = ""
%>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Images &amp; Maps</h2>

    <ul class="nav nav-tabs">
      <li role="presentation">
        <%= link_to "Journals", images_path %>
      </li>
      <li role="presentation">
        <%= link_to "Maps", images_maps_path %>
      </li>
      <li role="presentation">
        <%= link_to "People & Places", images_people_places_path %>
      </li>
      <li role="presentation" class="active">
        <%= link_to "Plants & Animals", images_plants_animals_path %>
      </li>
    </ul>

    <br/>
    <p class="gallery_note">Note: These images are taken from Lewis and Clark on the Great Plains: A Natural History by Paul A. Johnsgard, courtesy of the University of Nebraska Press. Permission to reproduce is required.</p>

    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig01.jpg" alt="Bison" title="Bison"/>
      <% end %>
      Bison, adult male
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig02") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig02.jpg" alt="Bears" title="Bears"/>
      <% end %>
      Grizzly bear adult (top) and black bear adult (bottom)
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig03") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig03.jpg" alt="Elk" title="Elk"/>
      <% end %>
      Elk, adult male
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig04") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig04.jpg" alt="Pronghorn" title="Pronghorn"/>
      <% end %>
      Pronghorn, adult male
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig05") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig05.jpg" alt="Least tern" title="Least tern"/>
      <% end %>
      Least tern, adult and chick
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig06") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig06.jpg" alt="Piping Plover" title="Piping Plover"/>
      <% end %>
      Piping Plover, adult
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig07") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig07.jpg" alt="Buffaloberry" title="Buffaloberry"/>
      <% end %>
      Buffaloberry, female plant with berries
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig08") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig08.jpg" alt="Pasture Sagewort" title="Pasture Sagewort"/>
      <% end %>
      Pasture sagewort, with leaf variation and flower detail
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig09") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig09.jpg" alt="Bighorn" title="Bighorn"/>
      <% end %>
      Bighorn, adult male
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig10") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig10.jpg" alt="Black-tailed prairie dog" title="Black-tailed prairie dog"/>
      <% end %>
      Black-tailed prairie dog, adult ("all-clear" or "jump-yip" call)
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig11") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig11.jpg" alt="Coyote" title="Coyote"/>
      <% end %>
      Coyote, adult
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig12") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig12.jpg" alt="Grey Wolf" title="Grey Wolf"/>
      <% end %>
      Grey wolf, adult
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig13") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig13.jpg" alt="Mule Deer" title="Mule Deer"/>
      <% end %>
      Mule deer, adult male (in autumn)
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig14") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig14.jpg" alt="Richardson's Ground Squirrel" title="Richardson's Ground Squirrel"/>
      <% end %>
      Richardson's ground squirrel, adult ("pocket-pin" posture)
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig15") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig15.jpg" alt="White-tailed Jackrabbit" title="White-tailed Jackrabbit"/>
      <% end %>
      White-tailed jackrabbit, adult in summer pelage
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig16") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig16.jpg" alt="Common poorwill" title="Common poorwill"/>
      <% end %>
      Common poorwill, adult
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig17") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig17.jpg" alt="Golden Eagle" title="Golden Eagle"/>
      <% end %>
      Golden eagle, adult
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig18") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig18.jpg" alt="Sharp-tailed Grouse" title="Sharp-tailed Grouse"/>
      <% end %>
      Sharp-tailed grouse, adult male
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig19") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig19.jpg" alt="Trumpeter Swan" title="Trumpeter Swan"/>
      <% end %>
      Trumpeter swan, adult
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig20") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig20.jpg" alt="Western Meadowlark" title="Western Meadowlark"/>
      <% end %>
      Western Meadowlark, adult male
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig21") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig21.jpg" alt="Sharp-tailed Grouse" title="Sharp-tailed Grouse"/>
      <% end %>
      Sharp-tailed grouse, adult male
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig22") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig22.jpg" alt="Bearberry" title="Bearberry"/>
      <% end %>
      Bearberry
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig23") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig23.jpg" alt="Fringed Sagebrush" title="Fringed Sagebrush"/>
      <% end %>
      Fringed sagebrush, with leaf variation and flower detail
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig24") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig24.jpg" alt="Indian Tobacco" title="Indian Tobacco"/>
      <% end %>
      Indian tobacco
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig25") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig25.jpg" alt="Lanceleaf Sage" title="Lanceleaf Sage"/>
      <% end %>
      Lanceleaf sage, with leaf variation and flower detail
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig26") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig26.jpg" alt="Clammyweed" title="Clammyweed"/>
      <% end %>
      Large-flowered clammyweed, with flower detail
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig27") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig27.jpg" alt="Missouri milk-vetch" title="Missouri milk-vetch"/>
      <% end %>
      Missouri milk-vetch
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig28") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig28.jpg" alt="Shadscale" title="Shadscale"/>
      <% end %>
      Shadscale, with seed detail
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig29") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig29.jpg" alt="Silky Wormwood" title="Silky Wormwood"/>
      <% end %>
      Silky wormwood, with leaf variation and flower detail
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig30") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig30.jpg" alt="Juniper and Sparrow" title="Juniper and Sparrow"/>
      <% end %>
      Western juniper and adult lark sparrow
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig31") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig31.jpg" alt="Bushy-tailed Woodrat" title="Bushy-tailed Woodrat"/>
      <% end %>
      Bushy-tailed woodrat, adult with cache
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig32") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig32.jpg" alt="Swift Fox" title="Swift Fox"/>
      <% end %>
      Swift fox, adult
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig33") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig33.jpg" alt="Ground Squirrel" title="Ground Squirrel"/>
      <% end %>
      Thirteen-lined ground squirrel, adult (dormant)
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig34") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig34.jpg" alt="Greater Sage-grouse" title="Greater Sage-grouse"/>
      <% end %>
      Greater sage-grouse, adult male (right) and female
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig35") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig35.jpg" alt="Lewis's Woodpecker" title="Lewis's Woodpecker"/>
      <% end %>
      Lewis's woodpecker, adult male (right) and female
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig36") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig36.jpg" alt="McCown's Longspur" title="McCown's Longspur"/>
      <% end %>
      McCown's longspur, adult male
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig37") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig37.jpg" alt="Western Rattlesnake" title="Western Rattlesnake"/>
      <% end %>
      Western rattlesnake (top and middle) and western hognose snake (bottom)
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.johnsgard.01.fig38") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/lc.johnsgard.01.fig38.jpg" alt="Catfish and Trout" title="Catfish and Trout"/>
      <% end %>
      Channel catfish (top), blue catfish (middle), and cutthroat trout (bottom)
    </div>

    <hr/>

    <p class="gallery_note">Note: These images are courtesy of the American Philosophical Society library. Permission to reproduce is required.</p>

    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1804-1805.winter.part3.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1804-1805.winter.part3.01.jpg" alt="&quot;Convolvalist&quot; leaf" title="&quot;Convolvalist&quot; leaf"/>
      <% end %>
      Large "convolvalist" leaf (<font face="Arial, Arial, Helvetica"><em>Convolvulus sepium L.,</em></font> hedge bindweed), July 17, 1804, Codex R, p. 37
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-01-07.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-01-07.01.jpg" alt="Skate" title="Skate"/>
      <% end %>
      Skate (big skate, <font face="Arial, Arial, Helvetica"><em>Raja binoculata</em></font>), January 7, 1806, Clark's First Draft
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-02-09.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-02-09.01.jpg" alt="Fir Leaf" title="Fir Leaf"/>
      <% end %>
      Fir Leaf (Douglas fir, <font face="Arial, Arial, Helvetica"><em>Pseudotsuga taxifolia</em></font>), February 9, 1806, Codex J, p. 65
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-02-10.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-02-10.01.jpg" alt="Maple Leaf" title="Maple Leaf"/>
      <% end %>
      Maple Leaf (vine maple, <font face="Arial, Arial, Helvetica"><em>Acer circinatum</em></font>), February 10, 1806, Codex J, p. 66
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-02-13.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-02-13.01.jpg" alt="Fern Leaf" title="Fern Leaf"/>
      <% end %>
      Fern Leaf (Christmas fern, <font face="Arial, Arial, Helvetica"><em>Polystichum munitum</em></font>), February 13, 1806, Codex J, p. 71
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-02-17.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-02-17.01.jpg" alt="California condor" title="California condor"/>
      <% end %>
      Head of a Vulture (California condor, <font face="Arial, Arial, Helvetica"><em>Gymnogyps califorianus</em></font>), February 17, 1806, Codex J, p. 80
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-02-18.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-02-18.01.jpg" alt="Pine Cone" title="Pine Cone"/>
      <% end %>
      Pine Cone (Sitka spruce, <font face="Arial, Arial, Helvetica"><em>Picea sitchensis</em></font>), February 18, 1806, Codex J, p. 83
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-02-24.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-02-24.01.jpg" alt="Eulachon" title="Eulachon"/>
      <% end %>
      Eulachon (<font face="Arial, Arial, Helvetica"><em>Thaleichthys pacificus</em></font>), February 24, 1806, Codex J, pp. 93
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-03-02.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-03-02.01.jpg" alt="Cock of the Plains" title="Cock of the Plains"/>
      <% end %>
      Head of Cock of the Plains (sage grouse, <font face="Arial, Arial, Helvetica"><em>Centrocercus urophasianus</em></font>), March 2, 1806, Codex J, p. 107
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-03-07.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-03-07.01.jpg" alt="White Gull" title="White Gull"/>
      <% end %>
      Head of a White Gull (northern fulmar, <font face="Arial, Arial, Helvetica"><em>Fulmarus glacialis</em></font>), March 7, 1806, Codex J, p. 115
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-03-15.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-03-15.01.jpg" alt="Brant Head" title="Brant Head"/>
      <% end %>
      Head of a Brant (greater white-fronted goose, <font face="Arial, Arial, Helvetica"><em>Anser albifrons</em></font>), March 15, 1806, Codex J, p. 131
    </div>
    <div class="image_gallery_image">
      <%= link_to item_path("lc.img.1806-03-16.01") do %>
        <img src="https://cdrhmedia.unl.edu/images/lewisandclark/thumbnails/1806-03-16.01.jpg" alt="White Salmon Trout" title="White Salmon Trout"/>
      <% end %>
      White Salmon Trout (coho salmon, <font face="Arial, Arial, Helvetica"><em>Oncorhynchus kisutch</em></font>), March 16, 1806, Codex J, p. 133
    </div>
  </div>
</div>
