<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <h2>About the Journals</h2>

    <ul>
      <li><%= link_to "Members of the Expedition", item_path("lc.jrn.v02.appendix.a") %></li>
      <li><%= link_to "Provenance and Description of the Journals", item_path("lc.jrn.v02.appendix.b") %></li>
      <li><%= link_to "Calendar of Journals and Manuscripts", item_path("lc.jrn.v02.appendix.c") %></li>
      <li><%= link_to "Editorial Procedures", item_path("lc.jrn.editorial.procedures") %></li>
      <li><%= link_to "Editorial Symbols and Abbreviations", item_path("lc.jrn.editorial.symbols") %></li>
    </ul>

    <h3>Volume Introductions and Prefaces</h3>

    <ul>
      <li><%= link_to "Volume 2 Preface", item_path("lc.jrn.preface.v02") %></li>
      <li><%= link_to "Volume 2 Introduction", item_path("lc.jrn.introduction.v02") %></li>
      <li><%= link_to "Volume 3 Preface", item_path("lc.jrn.preface.v03") %></li>
      <li><%= link_to "Volume 3 Introduction", item_path("lc.jrn.introduction.v03") %></li>
      <li><%= link_to "Volume 4 Preface", item_path("lc.jrn.preface.v04") %></li>
      <li><%= link_to "Volume 4 Introduction", item_path("lc.jrn.introduction.v04") %></li>
      <li><%= link_to "Volume 5 Preface", item_path("lc.jrn.preface.v05") %></li>
      <li><%= link_to "Volume 5 Introduction", item_path("lc.jrn.introduction.v05") %></li>
      <li><%= link_to "Volume 6 Preface", item_path("lc.jrn.preface.v06") %></li>
      <li><%= link_to "Volume 6 Introduction", item_path("lc.jrn.introduction.v06") %></li>
      <li><%= link_to "Volume 7 Preface", item_path("lc.jrn.preface.v07") %></li>
      <li><%= link_to "Volume 7 Introduction", item_path("lc.jrn.introduction.v07") %></li>
      <li><%= link_to "Volume 8 Preface", item_path("lc.jrn.preface.v08") %></li>
      <li><%= link_to "Volume 8 Introduction", item_path("lc.jrn.introduction.v08") %></li>
      <li><%= link_to "Volume 9 Preface", item_path("lc.jrn.preface.v09") %></li>
      <li><%= link_to "Volume 9 Introduction", item_path("lc.jrn.introduction.v09") %></li>
      <li><%= link_to "Volume 10 Preface", item_path("lc.jrn.preface.v10") %></li>
      <li><%= link_to "Volume 10 Introduction", item_path("lc.jrn.introduction.v10") %></li>
      <li><%= link_to "Volume 11 Preface", item_path("lc.jrn.preface.v11") %></li>
      <li><%= link_to "Volume 11 Introduction", item_path("lc.jrn.introduction.v11") %></li>
    </ul>

    <ul>
      <li><%= link_to "Volume Sources", item_path("lc.jrn.sources") %></li>
    </ul>
  </div>
</div>
