<!-- does not need specific row and col offset -->
<div class="row">
  <div class="col-md-3">
    <div class="list-group">
      <%= link_to contents_path, {:class=>"list-group-item active list-group-item-primary"} do %>
        <h4 class="list-group-item-heading">Read the Journals</h4>
        <p class="list-group-item-text">Explore the Journal Entries</p>
      <% end %>
      <%= link_to index_path, {:class=>"list-group-item active list-group-item-info"} do %>
        <h4 class="list-group-item-heading">Browse by Index</h4>
        <p class="list-group-item-text">Normalized Names</p>
      <% end %>
      <%= link_to calendar_path, {:class=>"list-group-item active list-group-item-primary"} do %>
        <h4 class="list-group-item-heading">Browse by Date</h4>
        <p class="list-group-item-text">Calendar View</p>
      <% end %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Search the Journals</h3>
      </div>
      <div class="panel-body">
        <%= form_tag(search_path, method: "get") do %>
          <div class="form-group">
            <%= hidden_field_tag "subCategory", "Journal Entries" %>
            <%= hidden_field_tag "qfield", "text" %>
            <%= label_tag "map_search_terms", "Search Term" %>
            <%= text_field_tag "qtext", params["qtext"], id: "map_search_terms", class: "form-control" %>
          </div>

          <h5>Search Only Selected Author</h5>

          <div class="row">
            <div class="col-md-6">
              <div class="checkbox">
                <%= radio_button_tag :creators, "Lewis, Meriwether" %>
                <%= label_tag :creators_Lewis__Meriwether, "Lewis" %>
              </div>
              <div class="checkbox">
                <%= radio_button_tag :creators, "Clark, William" %>
                <%= label_tag :creators_Clark__William, "Clark" %>
              </div>
              <div class="checkbox">
                <%= radio_button_tag :creators, "Ordway, John" %>
                <%= label_tag :creators_Ordway__John, "Ordway" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="checkbox">
                <%= radio_button_tag :creators, "Gass, Patrick" %>
                <%= label_tag :creators_Gass__Patrick, "Gass" %>
              </div>
              <div class="checkbox">
                <%= radio_button_tag :creators, "Whitehouse, Joseph" %>
                <%= label_tag :creators_Whitehouse__Joseph, "Whitehouse" %>
              </div>
              <div class="checkbox">
                <%= radio_button_tag :creators, "Floyd, Charles" %>
                <%= label_tag :creators_Floyd__Charles, "Floyd" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group form-inline">
                <% dfrom = params["date_from"] ? params["date_from"] : [] %>
                <%= label_tag "date_from", "Date From" %><br/>
                <%= text_field_tag "date_from[]", dfrom[0], id: "date_from",
                    class: "form-control", placeholder: "1803", maxlength: "4", size: "4" %>
                <%= text_field_tag "date_from[]", dfrom[1],
                    class: "form-control", placeholder: "08", maxlength: "2", size: "2" %>
                <%= text_field_tag "date_from[]", dfrom[2],
                    class: "form-control", placeholder: "30", maxlength: "2", size: "2" %>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group form-inline">
                <% dto = params["date_to"] ? params["date_to"] : [] %>
                <%= label_tag "date_to", "Date To" %><br/>
                <%= text_field_tag "date_to[]", dto[0], id: "date_to",
                    class: "form-control", placeholder: "1806", maxlength: "4", size: "4" %>
                <%= text_field_tag "date_to[]", dto[1],
                    class: "form-control", placeholder: "09", maxlength: "2", size: "2" %>
                <%= text_field_tag "date_to[]", dto[2],
                    class: "form-control", placeholder: "01", maxlength: "2", size: "2" %>
              </div>
            </div>
          </div>
          <br/>
          <%= submit_tag "Search", class: "btn btn-primary pull-right" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="list-group">
      <%= link_to j_about_path, {:class=>"list-group-item active list-group-item-info"} do %>
      <h4 class="list-group-item-heading">About the Journals</h4>
      <p class="list-group-item-text">Read introductory materials; Find out about the history of the journals; Learn more about the members of the expedition</p>
      <% end %>
    </div>
    <a href="http://www.nebraskapress.unl.edu/Catalog/ProductSearch.aspx?filter=&search=&cid=0&sort=Name&itemsperpage=10&view=List&currentpage=&pf=&sf=&sj=283" class="buy_books_link">
      <div class="buy_books">
        <h4>Buy the Print Editions</h4>
        <p>Print editions of The Journals of the Lewis &amp; Clark Expedition are available through the University of Nebraska Press</p>
      </div>
    </a>
  </div>
</div><!-- /row -->
