<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Books &amp; Articles</h2>

     <p>The following list of recommended readings has been been prepared by the University of Nebraska Press in consultation with Advisory Board member James Ronda.</p>

     <h3>Books</h3>

    <ul>

     <li><%= link_to item_path("lc.sup.johnsgard.01.00") do %><strong>Lewis and Clark on the Great Plains: A Natural History</strong><% end %> by Paul A. Johnsgard. Published by the University of Nebraska Press, 2003.</li>

      <li>"<%= link_to item_path("lc.sup.lavender.01.00") do %><strong>The Way to the Western Sea: Lewis and Clark across the Continent</strong>.<% end %>" by David Lavender. Published by the University of Nebraska Press, 1998.</li>

      <li>"<%= link_to item_path("lc.sup.ronda.01.00") do %><strong>Lewis and Clark among the Indians</strong><% end %>." by James P. Ronda. Published by the University of Nebraska Press, 1984.</li>
    </ul>

     <h3>Articles</h3>

    <ul>
      <li>"<%= link_to item_path("lc.sup.allen.01") do %><strong>Horizons of the Sublime: The Invention of the Romantic West</strong>.<% end %>" by John L. Allen in <em>Journal of Historical Geography [Great Britain]</em> 18.1 (1992): 27–40.</li>

      <li>"<%= link_to item_path("lc.sup.allen.02") do %><strong>Lewis [and] Clark on the Upper Missouri: Decision at the Marias</strong>.<% end %>" by John L. Allen in <em>Montana</em> 21.3 (1971): 2–17.</li>

      <li>"<%= link_to item_path("lc.sup.allen.03") do %><strong>New World Encounters: Exploring the Great Plains of North America</strong>.<% end %>" by John L. Allen in <em>Great Plains Quarterly</em> 13.2 (1993): 69–80.</li>

      <li>"<%= link_to item_path("lc.sup.alwin.01") do %><strong>Pelts, Provisions and Perceptions: The Hudson's Bay Company Mandan Indian Trade, 1795–1812</strong>.<% end %>" by John A. Alwin in <em>Montana</em> 29.3 (1979): 16–27.</li>

     <li>"<%= link_to item_path("lc.sup.bahmer.01") do %><strong>The Case of the Clark Papers</strong>.<% end %>" by Robert H. Bahmer in <em>American Archivist</em> 19.1 (1956): 19–22.</li>

     <li>"<%= link_to item_path("lc.sup.bedini.01") do %><strong>The Scientific Instruments of the Lewis and Clark Expedition</strong>.<% end %>" by Silvio A. Bedini in <em>Great Plains Quarterly</em> 4.1 (1984): 54–69.</li>

     <li>"<%= link_to item_path("lc.sup.belyea.01") do %><strong>Mapping the Marias: The Interface of Native and Scientific Cartographies</strong>.<% end %>" by Barbara Belyea in <em>Great Plains Quarterly</em> 17.3-4 (1997): 165–84.</li>

     <li>"<%= link_to item_path("lc.sup.blake.01") do %><strong>Great Plains Native American Representations along the Lewis and Clark Trail</strong>.<% end %>" by Kevin S. Blake in <em>Great Plains Quarterly</em> 24.2 (2004): 263–82.</li>

     <li>"<%= link_to item_path("lc.sup.bright.01") do %><strong>A Glossary of Native American Toponyms and Ethnonyms from the Lewis and Clark Journals</strong>.<% end %>" by William Bright in <em>Names</em> 52.3 (2004): 163–237.</li>

     <li>"<%= link_to item_path("lc.sup.danisi.01") do %><strong>Lewis and Clark's Route Map: James Mackay's Map of the Missouri River</strong>.<% end %>" by Thomas C. Danisi and W. Raymond Wood in <em>Western Historical Quarterly</em> 35.1 (2004): 53–72.</li>

     <li>"<%= link_to item_path("lc.sup.debres.01") do %><strong>Exploration in a Continental Climate: Weather in the Central Plains Recorded in the Journal of William Clark</strong>.<% end %>" by Karen Jean DeBres in <em>Heritage of The Great Plains</em> 37.1 (2004): 63–74.</li>

     <li>"<%= link_to item_path("lc.sup.devoto.01") do %><strong>An Inference Regarding the Expedition of Lewis and Clark</strong>.<% end %>" by Bernard DeVoto in <em>Proceedings of the American Philosophical Society</em> 99.4 (1955): 185–94.</li>

     <li>"<%= link_to item_path("lc.sup.foley.01") do %><strong>Friends and Partners: William Clark, Meriwether Lewis, and Mid-America's French Creoles</strong>.<% end %>" by William E. Foley in <em>Missouri Historical Review</em> 2004 98(4): 270–82.</li>

     <!-- <li>"<%= link_to item_path("lc.sup.furtwangler.01") do %><strong>Sacagawea's Son as a Symbol</strong><% end %>." by Albert Furtwangler in <em>Oregon Historical Quarterly</em> 102.3 (2001): 290–315.</li> -->

     <li>"<%= link_to item_path("lc.sup.jackson.02") do %><strong>Jefferson, Meriwether Lewis, and the Reduction of the United States Army</strong>.<% end %>" by Donald Jackson in <em>Proceedings of the American Philosophical Society</em> 124.2 (1980): 91–96.</li>

     <li>"<%= link_to item_path("lc.sup.jackson.01") do %><strong>The Race to Publish Lewis and Clark</strong>.<% end %>" by Donald Jackson in <em>Pennsylvania Magazine of History and Biography</em> 85.2 (1961): 163–77.</li>

     <li>"<%= link_to item_path("lc.sup.jenkinson.01") do %><strong>Against the Undertow of Myth: The Uncertainties of Lewis and Clark in North Dakota</strong>.<% end %>" by Clay S. Jenkinson in <em>North Dakota Quarterly</em> 71.2 (2004): 6–27.</li>

     <li>"<%= link_to item_path("lc.sup.missing") do %><strong>The Missing Journals of Meriwether Lewis</strong><% end %>" by Gary E. Moulton. Originally published in <!-- <a href="http://www.his.state.mt.us/pub/magazine/default.asp"> --><em>Montana: The Magazine of Western History</em><!-- </a> --> 35, no.3 (1985): 28–39.</li>

     <li>"<%= link_to item_path("lc.sup.almost") do %><strong>The Journals of Lewis and Clark: Almost Home</strong><% end %>" by Gary E. Moulton. Originally published in <!-- <a href="http://www.his.state.mt.us/pub/magazine/default.asp"> --><em>Montana: The Magazine of Western History</em><!-- </a> --> 48, no.2 (1998): 72–79.  </li>

     <li>"<%= link_to item_path("lc.sup.oconnor.01") do %><strong>The Evolving Landscape of the Columbia River Gorge: Lewis and Clark and Cataclysms on the Columbia</strong>.<% end %>" by Jim E. O'Connor in <em>Oregon Historical Quarterly</em> 105.3 (2004): 390–421.</li>

     <li>"<%= link_to item_path("lc.sup.ronda.02") do %><strong>Exploring the Explorers: Great Plains Peoples and the Lewis and Clark Expeditio</strong>n.<% end %>" by James P. Ronda in <em>Great Plains Quarterly</em> 13.2 (1993): 81–90.</li>

     <li>"<%= link_to item_path("lc.sup.winfield.01") do %><strong>The Press Response to the Corps of Discovery: The Making of Heroes in an Egalitarian Age</strong>.<% end %>" by Betty Houchin Winfield in <em>Journalism &amp; Mass Communication Quarterly</em> 80.4 (2003): 866–83.</li>
    </ul>

     <h3>Off Site Articles</h3>
    <ul>
     <li>"<a href="http://www.jstor.org/stable/214058"><strong>An Analysis of the Exploratory Process: The Lewis and Clark Expedition of 1804–1806</strong></a>." by John L. Allen in <em>Geographical Review</em> 62:1 (1972): 13–39.</li>
    </ul>


    <!-- <h3>Broken Links (Temporary)</h3>
    <ul>
     <li>"<a href="http://www.ohs.org/"><strong>Describing a New Environment: Lewis and Clark and Enlightenment Science in the Columbia River Basin</strong>.</a>" by William L. Lang in <em>Oregon Historical Quarterly</em> 105.3 (2004): 360–89.</li>

     <li>"<a href="http://www.historycooperative.org/journals/whq/33.1/ronda.html" target="blank"><strong>Counting Cats in Zanzibar, or, Lewis and Clark Reconsidered</strong></a>" by James P. Ronda. From <a href="http://www.usu.edu/history/whq/" target="blank"><em>The Western Historical Quarterly.</em></a> Vol. 33, no. 1. </li>
    </ul> -->


    <h3>Additional Readings</h3>

    <p>The following recommended readings are not currently online. Please check your local library for availability.</p>

    <ul>
     <li><strong>"Landscape Change at the Confluence: From Lewis and Clark to the Present"</strong> by John L. Allen in <em>North Dakota History</em> 69.2–4 (2002): 2–23.</li>

     <li><strong>"Snake Frontiers: The Eastern Shoshones in the Eighteenth Century"</strong> by Colin G. Calloway in <em>Annals of Wyoming</em> 63.3 (1991): 82–92.</li>

     <li><strong>"Some Medical Aspects of the Lewis and Clark Expedition"</strong> by Cindy Fent in <em>North Dakota History</em> 53.1 (1986): 24–28.</li>

     <li><strong>"'To Acquire What Knolege You Can': The Scientific Contributions of Lewis and Clark"</strong> by Robert McCracken Peck in <em>South Dakota History</em> 34.1 (2004): 5–27.</li>

     <li><strong>"An Introduction to the History of the Fur Trade on the Northern Plains"</strong> by W. Raymond Wood in <em>North Dakota History</em> 61.3 (1994): 2–6.</li>

     <li><strong>"John Thomas Evans: An Overlooked Precursor to Lewis and Clark"</strong> by W. Raymond Wood in <em>North Dakota History</em> 68.2 (2001): 27–37.</li>
    </ul>
  </div>
</div>
