<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h4>Index of names found in Lewis and Clark Journals</h4>

    <ul class="nav nav-tabs">
      <li role="presentation" <%= "class=active" if @selection == "all"%>>
        <%= link_to "All", index_path %>
      </li>
      <li role="presentation" <%= "class=active" if @selection == "nations"%>>
        <%= link_to "Native Nations", index_nations_path %>
      </li>
      <li role="presentation" <%= "class=active" if @selection == "people"%>>
        <%= link_to "People", index_people_path %>
      </li>
      <li role="presentation" <%= "class=active" if @selection == "places"%>>
        <%= link_to "Places", index_places_path %>
      </li>
    </ul>

    <br/>
    Sort by:
    <%= link_to "Alphabetical", sort("index"),
        class: "btn btn-xs #{facet_sort_selected('index', params['sort'])}", role: "button"
    %>
    |
    <%= link_to "Count", sort("count"),
        class: "btn btn-xs #{facet_sort_selected('count', params['sort'])}", role: "button"
    %>

    <br/>


    <table class="index_list">
    <tbody>
      <% @facets.each do |key, value| %>
        <row>
          <% name_type = key.split("||") %>
          
            <td class="index_term">
              <%= link_to search_path({ @field => key, "lc_searchtype_s" => "journal_entry" }) do %>
                <%= name_type[0] %>
                <% end %>
                </td>
          
          <td class="badge_surround"><span class="count badge"><%= value %></span></td>
          <% if name_type[1] %>
            <td class="index_type"><%= name_type[1].titleize %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
