<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h4>Index of names found in Lewis and Clark Journals</h4>

    <ul class="nav nav-tabs">
      <li role="presentation" <%= "class=active" if @selection == "all"%>>
        <%= link_to "All", index_path %>
      </li>
      <li role="presentation" <%= "class=active" if @selection == "nations"%>>
        <%= link_to "Native Nations", index_nations_path %>
      </li>
      <li role="presentation" <%= "class=active" if @selection == "people"%>>
        <%= link_to "People", index_people_path %>
      </li>
      <li role="presentation" <%= "class=active" if @selection == "places"%>>
        <%= link_to "Places", index_places_path %>
      </li>
    </ul>

    <br/>
    Sort by:
    <%= link_to "Alphabetical", sort("index"),
        class: "btn btn-xs #{facet_sort_selected('index', params['sort'])}", role: "button"
    %>
    |
    <%= link_to "Count", sort("count"),
        class: "btn btn-xs #{facet_sort_selected('count', params['sort'])}", role: "button"
    %>

    <br/>


    <ul class="index_list">
      <% @facets.each do |key, value| %>
        <li>
          <% name_type = key.split("||") %>
          <%= link_to search_path({ @field => key, "lc_searchtype_s" => "journal_entry" }) do %>
            <span class="index_term"><%= name_type[0] %></span>
          <% end %>
          <span class="badge_surround">
            <span class="count badge"><%= value %></span>
          </span>
          <% if name_type[1] %>
            <span class="index_type">(<%= name_type[1].titleize %>)</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
