<!-- search form -->
<%= render partial: "search_partials/searchbox" %>

<div class="row search_form">
  <div class="col-md-3">

    <!-- clear facets -->
    <%= render partial: "search_partials/facets_clear" %>

    <!-- dates -->
    <%= render partial: "search_partials/date_limit" %>

    <!-- facet lists -->
    <%= render partial: "search_partials/facets", locals: {facets: @facets} %>
  </div> <!-- col-md-3 -->

  <div class="col-md-9">
    <%= render partial: "search_partials/author_year" %>
  </div>


<!-- SEARCH RESULTS UNDER HERE -->


  <div class="col-md-9">

  <div class="col-md-9">
    <!-- TODO is that aria-label correct? -->
    <div class="btn-group" role="group" aria-label=". . .">
      <span type="button" class="btn btn-default btn-sm">
        <span class="filter-value" title="Journal Entries">Water</span>
      </span>
      <a type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </a>
    </div>
    <div class="btn-group" role="group" aria-label="...">
      <span type="button" class="btn btn-default btn-sm">
        <span class="filter-name">Part of Website</span>
        <span class="filter-value" title="Journal Entries">Journal Entries</span>
      </span>
      <a type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </a>
    </div>

    <!-- sorting and pagination -->
    <div class="row search_controls">
      <div class="col-md-3 search_limit">
        <% if (@items[:num_found] > 1) %>
          <%= render partial: "search_partials/sort",
            locals: { sort_by: params[:sort], page_type: @page_type, query: params[:qtext]
            } %>
        <% end %>
      </div>
      <div class="col-md-9 pagination_container">
        <%= paginator(@total_pages) %>
      </div>
    </div>

    <!-- search results section -->
    <h4>Your search for <%= params[:qtext] %> returned <%= @items[:num_found] %> <%= result_text(@items[:num_found]) %></h4>


    <% if @items[:num_found] > 0 %>
      <% @items[:docs].each do |doc| %>
        <div class="row searchResults">
          <div class="col-md-9 col-md-push-3 search_results_title">
            <%= link_to doc["title"], item_path(doc["id"]) %>
            <% if doc["highlights"] %>
              <ul class="highlighting">
                <% doc["highlights"].each do |hl| %>
                  <li><%= hl.html_safe %></li>
                <% end %>
              </ul>
            <% end %>
          </div> <!-- /col-md-9 -->
          <div class="col-md-3 col-md-pull-9 search_results_info">
            <ul>
              <li><%= doc["dateDisplay"] %></li>
              <li><%= doc["category"].titleize %></li>
              <li><%= doc["creators"].join("; ") %></li>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="col-md-9 pagination_container">
      <%= paginator(@total_pages) %>
    </div>
  </div>
</div>
