<%
  @title = "Search the Journals"
  @description = ""
%>
<%= javascript_include_tag "search", media: "all" %>

<!-- search form -->
<%= render partial: "search_partials/searchbox" %>

<div class="row search_form">
  <div class="col-md-3">

    <div class="clearfix">
      <h4 class="pull-left">Filter by:</h4>

      <!-- clear facets -->
      <% if any_facets_selected? || date_selection?(params["date_from"], params["date_to"]) %>
        <%= render partial: "search_partials/facets_clear" %>
      <% end %>
    </div>

    <!-- dates -->
    <%= render partial: "search_partials/date_limit" %>

    <!-- facet lists -->
    <%= render partial: "search_partials/facets", locals: {facets: @facets} %>
  </div> <!-- col-md-3 -->

  <div class="col-md-9">
    <% if !@search_bool %>
      <%= render partial: "search_partials/author_year" %>
    <% else %>
      <%= render partial: "search_partials/result_summary_boxes" %>

      <!-- sorting and pagination -->
      <div class="row search_controls">
        <div class="col-md-3 search_limit">
          <% if (@items[:num_found] > 1) %>
            <%= render partial: "search_partials/sort",
              locals: { sort_by: params[:sort], page_type: @page_type, query: params[:qtext]
              } %>
          <% end %>
        </div>
        <div class="col-md-9 pagination_container">
          <%= paginator(@total_pages) %>
        </div>
      </div>

      <!-- search results section -->
      <h4>
        Your search returned <%= @items[:num_found] %> <%= result_text(@items[:num_found]) %> from
        <% if params["subCategory"] == "Journal Entries" %>
          journals
          <%= link_to "Search All Items", search_path(remove_facet("subCategory")), class: "btn btn-xs btn-info" %>
        <% else %>
          all items
          <%= link_to "Search Only Journals", search_path(facet_link("subCategory", "Journal Entries")), class: "btn btn-xs btn-info" %>
        <% end %>

      </h4>


      <% if @items[:num_found] > 0 %>
        <% @items[:docs].each do |doc| %>
          <div class="row searchResults">
            <div class="col-md-9 col-md-push-3 search_results_title">
              <% if doc["lc_searchtype_s"] == "journal_entry" %>
                <%= link_to doc["title"], item_path(doc["lc_filename_s"], anchor: doc["id"]) %>
              <% else %>
                <%= link_to doc["title"], item_path(doc["id"]) %>
              <% end %>
              <% if doc["highlights"] && !params["qtext"].blank? %>
                <ul class="highlighting">
                  <% doc["highlights"].each do |hl| %>
                    <li><%= hl.html_safe %></li>
                  <% end %>
                </ul>
              <% end %>
            </div> <!-- /col-md-9 -->
            <!-- information about item -->
            <div class="col-md-3 col-md-pull-9 search_results_info">
              <ul>
                <li><%= doc["dateDisplay"] %></li>
                <li><%= doc["category"].titleize %></li>
                <% if doc["creators"] %>
                  <li><%= doc["creators"].join("; ") %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      <% end %>

      <div class="col-md-9 pagination_container">
        <%= paginator(@total_pages) %>
      </div>
    <% end %>  <%# end search results, sorting, and pagination %>
  </div><!-- col-md-9 -->
</div>
