<div class="row search_form">
  <!-- SEARCH RESULTS UNDER HERE -->

  <% if @search_bool %>
    <div class="col-md-9">
      <!-- sorting and pagination -->
      <div class="row search_controls">
        <div class="col-md-12 pagination_container">
          <%= paginator(@total_pages) %>
        </div>
      </div>

      <!-- search results section -->
      <h4>Your search returned <%= @items[:num_found] %> <%= result_text(@items[:num_found]) %></h4>


      <% if @items[:num_found] > 0 %>
        <% @items[:docs].each do |doc| %>
          <div class="row searchResults">
            <div class="col-md-9 col-md-push-3 search_results_title">
              <% if doc["lc_searchtype_s"] == "journal_entry" %>
                <%= link_to doc["title"], item_path(doc["lc_filename_s"], anchor: doc["id"]) %>
              <% else %>
                <%= link_to doc["title"], item_path(doc["id"]) %>
              <% end %>
              <% if doc["highlights"] %>
                <ul class="highlighting">
                  <% doc["highlights"].each do |hl| %>
                    <li><%= hl.html_safe %></li>
                  <% end %>
                </ul>
              <% end %>
            </div> <!-- /col-md-9 -->
            <!-- information about item -->
            <div class="col-md-3 col-md-pull-9 search_results_info">
              <ul>
                <li><%= doc["dateDisplay"] %></li>
                <li><%= doc["category"].titleize %></li>
                <% if doc["creators"] %>
                  <li><%= doc["creators"].join("; ") %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      <% end %>

      <div class="col-md-9 pagination_container">
        <%= paginator(@total_pages) %>
      </div>
    </div>
  <% end %>  <%# end search results, sorting, and pagination %>
</div>
