<%
  @title = @item["title"]
  #@description = "" # Item attributes available: ["id", "title", "text", "titleSort", "source", "lc_searchtype_s", "creators", "creator", "people", "places", "lc_index_combined_ss", "uriHTML", "date", "lc_timeline_place_s", "dateDisplay", "lc_dateNotBefore_s", "lc_dateNotAfter_s", "lc_previous_s", "lc_next_s", "lc_filename_s", "slug", "project", "uri", "uriXML", "image_id", "dataType", "publisher", "contributor", "contributors", "format", "principalInvestigator", "category", "subCategory", "_version_", "highlights"]
%>
<%= javascript_include_tag "ekko-lightbox.min", media: "all" %>
<%= javascript_include_tag "item", media: "all" %>


<!-- Progress Marker and Previous Next -->
<% if @item["subCategory"] == "Journal Entries" %>
  <div class="row">
    <div class="col-xs-3 text-right  prev_next_buttons">
      <% if @item["lc_previous_s"] %>
        <%= link_to "Previous", item_path(@item["lc_previous_s"]), :class => "btn btn-sm btn-default" %>
      <% end %>
    </div>
    <div class="col-xs-6">
      <span class="progress_description"><%= @item['dateDisplay'] %></span>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="<%= @item['lc_timeline_place_s'] %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @item['lc_timeline_place_s'] %>%;">
          <span class="sr-only"><%= @item['lc_timeline_place_s'] %>% Complete</span>
        </div><!-- /progress-bar -->
      </div>
      <span class="first_date"><%= ENTRY_DATE_DISPLAY_FIRST %></span>
      <span class="last_date"><%= ENTRY_DATE_DISPLAY_LAST %></span>
    </div> <!-- /col6 -->
    <div class="col-xs-3 text-left  prev_next_buttons">
      <% if @item["lc_next_s"] %>
        <%= link_to "Next", item_path(@item["lc_next_s"]), :class => "btn btn-sm btn-default" %>
      <% end %>
    </div><!-- /col3 -->
  </div><!-- /row -->

<% end %> <!-- /if entry -->

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <!-- Text and Images -->
    <%= @res.mb_chars.html_safe if @res %>
    <% if @item["category"] == "Journals" %>
      <!-- Metadata Box (only displays for journals) -->
      <div class="metadata">
        <ul>
          <%= metadata("Date", "dateDisplay", @item["dateDisplay"]) %>
          <%= metadata("Author(s)", "creators", @item["creators"]) %>
          <li>
            <strong>TEI XML: </strong>
            <a href="<%= @item['uriXML'] %>"><%= @item["id"] %>.xml</a>
          </li>
        </ul>
      </div>
    <% end %>
  </div><!-- /col-md-10 -->
</div><!-- /row -->

<!-- Previous Next only -->
<% if @item["subCategory"] == "Journal Entries" %>
  <div class="row">
    <div class="col-xs-3 text-right  prev_next_buttons">
      <% if @item["lc_previous_s"] %>
        <%= link_to "Previous", item_path(@item["lc_previous_s"]), :class => "btn btn-sm btn-default" %>
      <% end %>
    </div>
    <div class="col-xs-6">
     
    </div> <!-- /col6 -->
    <div class="col-xs-3 text-left  prev_next_buttons">
      <% if @item["lc_next_s"] %>
        <%= link_to "Next", item_path(@item["lc_next_s"]), :class => "btn btn-sm btn-default" %>
      <% end %>
    </div><!-- /col3 -->
  </div><!-- /row -->

<% end %> <!-- /if entry -->
